<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <img src={{movie.Poster}} alt="">

    <h2> Title :  {{movie.Title}}</h2> <br>
    <h2>Year :  {{movie.Year}}</h2> <br>
    <h2>Rated :  {{movie.Rated}}</h2> <br>
    <h2>Released :  {{movie.Released}}</h2> <br>
    <h2>Boxoffice:  {{movie.BoxOffice}}</h2> <br>
    <h2>Genre :  {{movie.Genre}}</h2> <br>
    <h2>Director : {{movie.Director}}</h2> <br>
    <h2>Writer : {{movie.Writer}}</h2> <br>
    <h2>Actors : {{movie.Actors}}</h2> <br>
    <h2>Plot : {{movie.Plot}}</h2> <br>
    <h2> Language : {{movie.Language}}</h2> <br>
    <h2> Country : {{movie.Country}}</h2> <br>
    <h2> Awards : {{movie.Awards}}</h2> <br>

    <h2>Ratings:  {{movie.Ratings}}</h2> <br>
    <h2>MetaScore:  {{movie.MetaScore}}</h2> <br>

    <h2>imdbRating:  {{movie.imdbRating}}</h2> <br>
    <h2>imdbID:  {{movie.imdbID}}</h2> <br>
    <h2>Type:  {{movie.Type}}</h2> <br>
    <h2>Production:  {{movie.Production}}</h2> <br>
    <h2>Website:  {{movie.Website}}</h2> <br>

</body>
</html>
